<div class="card">
  <p-toast></p-toast>

  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button severity="success"
                label="New"
                icon="pi pi-plus"
                class="mr-2"
                (click)="openNew()"></p-button>
      <p-button severity="danger"
                label="Delete"
                icon="pi pi-trash"
                (click)="deleteSelectedAppointment()"
                [disabled]="!selectedProducts || !selectedProducts.length"></p-button>
    </ng-template>
  </p-toolbar>

  <p-table #dt
           [value]="appointments"
           [rows]="10"
           [tableStyle]="{ 'min-width': '75rem' }"
           [(selection)]="selectedProducts"
           [rowHover]="true"
           dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="appointmentTitle"
            style="min-width: 18rem">
          Appointment Title <p-sortIcon field="appointmentTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="customerName"
            style="min-width: 18rem">
          Customer Name <p-sortIcon field="customerName"></p-sortIcon>
        </th>
        <th pSortableColumn="appointmentDate"
            style="min-width: 18rem">
          Appointment Date <p-sortIcon field="appointmentDate"></p-sortIcon>
        </th>
        <th pSortableColumn="appointmentTime"
            style="min-width: 18rem">
          Appointment Time <p-sortIcon field="appointmentTime"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-appointment>
      <tr>
        <td>
          <p-tableCheckbox [value]="appointment"></p-tableCheckbox>
        </td>
        <td>
          {{ appointment.appointmentTitle }}
        </td>
        <td>
          {{ appointment.customerName }}
        </td>
        <td>
          {{ appointment.appointmentDate | date:'yyyy-MM-dd' }}
        </td>
        <td>
          {{ appointment.appointmentTime }}
        </td>
        <td>
          <p-button class="mr-4 text-green-500"
                    [rounded]="true"
                    [outlined]="true"
                    severity="success"
                    (click)="editAppointment(appointment)">
            Edit
          </p-button>
          <p-button class="mr-2 text-red-500"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="deleteAppointment(appointment)">
            Delete
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ appointments ? appointments.length : 0 }} appointments.
      </div>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="productDialog"
            [style]="{ width: '450px', background: '#f4f4f4' }"
            header="Appointment Details"
            [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="appointmentTitle">Appointment Title</label>
        <input type="text"
               pInputText
               id="appointmentTitle"
               [(ngModel)]="appointment.appointmentTitle"
               required
               autofocus />
        <small class="p-error"
               *ngIf="submitted && !appointment.appointmentTitle">
          Appointment Title is required.
        </small>
      </div>
      <div class="field">
        <label for="customerName">Customer Name</label>
        <input type="text"
               pInputText
               id="customerName"
               [(ngModel)]="appointment.customerName"
               required
               autofocus />
        <small class="p-error"
               *ngIf="submitted && !appointment.customerName">
          Customer Name is required.
        </small>
      </div>
      <div class="field">
        <label for="appointmentDate">Appointment Date</label>
        <input type="date"
               pInputText
               id="appointmentDate"
               [(ngModel)]="appointment.appointmentDate"
               required
               autofocus />
        <small class="p-error"
               *ngIf="submitted && !appointment.appointmentDate">
          Appointment Date is required.
        </small>
      </div>
      <div class="field">
        <label for="appointmentTime">Appointment Time</label>
        <input type="time"
               pInputText
               id="appointmentTime"
               [(ngModel)]="appointment.appointmentTime"
               required
               autofocus />
        <small class="p-error"
               *ngIf="submitted && !appointment.appointmentTime">
          Appointment Time is required.
        </small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel"
                icon="pi pi-times"
                [text]="true"
                (click)="hideDialog()"></p-button>
      <p-button label="Save"
                icon="pi pi-check"
                [text]="true"
                (click)="saveAppointment()"></p-button>
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>